.stylish{
	float:left;
    padding: 10px;
    border: 14px solid navy;
	height:20px;
	width:45px;
	margin:10px;
	margin-bottom: 17px;
}

p {
	text-align: center;
    margin-bottom: 27px;
    margin-top: 1px;

}
